<!-- 문서의 타입 설명 -->
<!DOCTYPE html>

<!-- html 시작 + 언어 설정 -->
<html lang="en"> 

<!-- html 설정 담당, 각종 설정이 meta tag로 세팅 됨 -->
<head>            
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- h 태그 -->
    <!-- <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6> -->
    
    <!-- python을 사용
    {% load static %}
    <img src="{%static 'bikini.jpg'%}" alt="bikini"> -->

    <!-- html만 사용
    <img src="../../static/bikini.jpg" alt="bikini"> -->

    <!-- span
    <span>span 태그1</span> 
    <span>span 태그2</span> -->
    
    <!-- div
    <div>안녕하세요</div>
    <div>두번째 영역입니다</div> -->
    
    <!-- 링크
    <a href="http://www.google.com" target="_blank">Google Link</a> -->
    
    <!-- 문단 태그
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, modi? Eius ut,
        alias consequatur aliquam eveniet iure recusandae sunt? Dicta quae
        voluptatibus ea, quas veritatis qui ab nihil nulla mollitia.
    </p> -->
    
    <!-- 동그라미
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ul> -->

    <!-- 번호
    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ol> -->
    <h1>Hello World</h1>
</body>
</html>

<!-- 
3 가지 정도
setting
Landing
urls -->